menu "ST STSafe A1xx"

config LIB_STSELIB
    bool "Enable ST STSELib support"
    default n
    help
      Access the STMicroelectronics STSELib.

if LIB_STSELIB

config STSE_FRAME_DEBUG
    bool "Enable STSE Frame Debug"
    default n
    help
      Enable this option to activate the STSE Frame Debug feature.

config STSE_USE_HOST_SESSION
    bool "Enable host session for secure channel"
    default n
    help
      Enable this option to use the host session for the secure channel.

choice
    prompt "STSAFE Chip"
    depends on LIB_STSELIB
    default STSAFE_A120

config STSAFE_A110
    bool "STSAFE A110"

config STSAFE_A120
    bool "STSAFE A120"

endchoice # STSAFE Chip

endif # LIB_STSELIB

endmenu