/*
 * Copyright (c) 2026 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/gpio/sixtron-header.h>

&sixtron_i2c {
    status = "okay";
    stsafe_1_20: stsafe-a120@20 {
        compatible = "st,stsafe-a120";
        reg = <0x20>;
        reset-gpios = <&sixtron_connector DIO1 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};
